<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <span class="title">Admin Jstore</span>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <app-show-product [products]="products"></app-show-product>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link">Produits</a>
        <a class="nav-link">Commandes</a>
        <a class="nav-link">Clients</a>
        <a class="nav-link">Categories</a>
      </section>
    </nav>
  </div>
</div>
